@model IEnumerable<Sign.Models.Business.Apartment>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a class="btn btn-primary" asp-action="Create">اضــافة شــقة</a>
</p>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">الشـــقق</h3>
                <ul class="panel-tool-options">
                    <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                    <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
                    <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="table-responsive">

                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.EntryDate)
                            </th>
                
                            <th>
                                @Html.DisplayNameFor(model => model.ApartmentType)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Gada)
                            </th>
             
              
                            <th>
                                @Html.DisplayNameFor(model => model.RoomCount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.HallCount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BathRoomCount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AqarState)
                            </th>
              
               
                            <th>
                                @Html.DisplayNameFor(model => model.KitchinIsFound)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ElectricBill)
                            </th>
               
                            <th>الاعدادات</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model) {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EntryDate)
                                </td>
          
                                <td>
                                    @Html.DisplayFor(modelItem => item.ApartmentType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Gada)
                                </td>
           
                                <td>
                                    @Html.DisplayFor(modelItem => item.RoomCount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HallCount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BathRoomCount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AqarState)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.KitchinIsFound)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ElectricBill)
                                </td>
       
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="text-primary"><i class="glyphicon glyphicon-edit"></i></a>
            
                                    <a href="#" onclick="deleteitm(this , @item.Id)" class="text-primary"><i class="icon-trash"></i></a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    

@section Scripts
{
    <script>

        function deleteitm(e , id) {
            if (confirm("هل تريد الحذف فعلا؟")) {
                $.get("/Apartments/Delete?id=" + id,
                    function() {
                       
                        $(e).parent().parent().remove();
                        alert("تم الحــذف بنجاح !");
                    });
            }
        }

    </script>
}
