@model Sign.Models.Business.Contract

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contract</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContractType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContractDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContractPlace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractPlace)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotoalContratValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotoalContratValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ElectricBillValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ElectricBillValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WaterBillValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WaterBillValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InsuranceValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InsuranceValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PeriodType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PeriodType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OfficeFees)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OfficeFees)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerName.id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
